@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.wrap {
  .btnWrap {
    position: relative;

    .dropdown {
      width: 120px;
      padding: 10px 50px 10px 20px;
      color: colors.$GRAY6;
      text-align: left;
      background-color: colors.$WHITE;
      border: 1px solid colors.$GRAYD;
      border-radius: 8px;
    }

    .icon {
      @include position.absolute(11px 14px auto auto);
      width: 11px;
      pointer-events: none;
      fill: colors.$GRAYA;
    }
  }

  .listWrap {
    @include position.absolute(auto auto auto auto);
    z-index: 1;
    margin-top: 2px;
    background-color: colors.$WHITE;
    border: 1px solid colors.$GRAYD;
    border-radius: 8px;

    li + li {
      border-top: 1px solid colors.$GRAYD;
    }

    .listBtn {
      width: 120px;
      padding: 10px 23px;
      color: colors.$GRAY6;
      text-align: left;
    }
  }
}
