@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.wrap {
  padding-top: 100px;

  .info {
    font-size: 14px;
    color: colors.$GRAY6;

    span {
      font-size: 15px;
      font-weight: bold;
      color: colors.$GRAY3;
    }
  }

  .listWrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    width: 100%;
    margin: 40px 0;
  }
}
