@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.wrap {
  position: relative;
  width: 300px;
  height: 430px;
  padding: 40px 25px;
  overflow: hidden;
  background-color: colors.$WHITE;
  border-radius: 10px;

  img {
    @include position.absolute(0 -8% auto auto);
    width: 350px;
    height: 270px;
    background-color: colors.$GRAYA;
  }

  .titleWrap {
    display: flex;
    align-items: end;
    padding-top: 260px;
    margin-bottom: 15px;

    .icon {
      width: 15px;
      margin-right: 10px;
      fill: colors.$GRAY6;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
      color: colors.$GRAY3;
    }

    .address {
      margin-left: 10px;
      font-size: 13px;
      color: colors.$GRAYA;
    }
  }

  .tagWrap {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;

    .tag {
      padding: 10px;
      font-size: 13px;
      color: colors.$WHITE;
      background-color: colors.$PINK;
      border-radius: 10px;
    }
  }

  .content {
    font-size: 12px;
    line-height: 1.2;
    color: colors.$GRAY6;
  }
}
