@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.wrap {
  position: relative;
  width: 300px;
  height: 430px;
  padding: 40px 25px;
  overflow: hidden;
  background-color: rgba(#D9C148, 0.7);
  border-radius: 10px;

  img {
    @include position.absolute(0 -8% auto auto);
    width: 350px;
    height: 270px;
  }

  .titleWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 260px;

    .icon {
      width: 15px;
      margin-right: 8px;
      fill: rgba(#535d55, 0.8);
    }

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #535d55;
    }

    .tagWrap {
      display: flex;
      column-gap: 6px;
      justify-content: left;

      .tag {
        padding: 7px;
        font-size: 11px;
        color: colors.$WHITE;
        letter-spacing: 0.3px;
        background-color: #B9BF04;
        border-radius: 5px;
      }

      li:last-child {
        background-color: rgba(#8C8303, 0.8);
      }
    }
  }

  .address {
    margin: 5px 0 10px;
    font-size: 11px;
    color: rgba(#535d55, 0.55);
  }

  .content {
    font-size: 12.5px;
    line-height: 1.5;
    color: colors.$GRAY6;
  }
}
