@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;

  .cardWrap {
    display: flex;
    column-gap: 17px;

    button {
      position: relative;
      width: 120px;
      height: 120px;
      padding: 13px;
      color: colors.$WHITE;
      text-align: center;
      background-color: #CCC014;
      border-radius: 50%;

      &:first-child {
        background-color: #FFBB00;
      }

      &:last-child {
        background-color: #99933D;
      }

      span {
        font-size: 17px;
        font-weight: bold;
        line-height: 1.5;
      }

      .icon {
        @include position.absolute(43% auto auto 43%);
        display: none;
        width: 20px;
        fill: colors.$WHITE;
      }

      &:hover {
        .icon {
          z-index: 1;
          display: block;
        }

        &::after {
          @include position.absolute(0 0 0 0);
          width: 120px;
          height: 120px;
          content: '';
          background-color: rgba(colors.$BLACK, 0.2);
          border-radius: 50%;
        }
      }
    }
  }
}
